version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: odoo
      POSTGRES_PASSWORD: odoo
    ports:
      - "5432:5432"

  odoo:
    image: odoo:18
    depends_on:
      - db
    ports:
      - "8069:8069"
    
    volumes:
      - ./addons:/mnt/extra-addons
      - ./config/odoo.conf:/etc/odoo/odoo.conf
      
    command: ["odoo", "-c", "/etc/odoo/odoo.conf"]